@page "/"

@using AdventureWorks.Components

<h3>Sync Data Client</h3>
<SyncDataComponent />

<button class="btn btn-primary btn-lg top-right-button mr-1" @onclick="Sync">Sync Database with Server</button>