@page "/"
@using AdventureWorks.Components

<h3>Sync Data Server</h3>
<button class="btn btn-primary btn-lg top-right-button mr-1" @onclick="ExportAdventureWorksDbToSqlite">Export MariaDb to Sqlite</button>
<br />
<SyncDataComponent />