
ProductID
<input class="form-control" type="text" name="name" @bind-value="SalesOrderDetail.ProductID" />
<button class="btn btn-primary btn-lg top-right-button mr-1" @onclick="AddSalesOrderDetail">Add salesorderdetail</button>

@code {

}
